#statistics li .hasChild{
  list-style-type: none;
}

#statistics svg{
  border : 1px solid black;
  border-radius: 30px;
  background-color: #ddd;
}

#statistics .elementName{
  font-weight: bold;
}


svg{   
    display: block;
}

.boxplot .box {
  font: 10px sans-serif;
}

.boxplot .box line,
.boxplot .box rect,
.boxplot .box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.boxplot .box .center {
  stroke-dasharray: 3,3;
}

.boxplot .box .outlier {
  fill: none;
  stroke: #000;
}

.boxplot .axis {
  font: 12px sans-serif;
}
 
.boxplot .axis path,
.boxplot .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.boxplot .x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pie .arc path {
  stroke: #fff;
}