.section{
    width: 48%;
    margin-right: 2%;
    margin-bottom: 10px;
    float:left;
    padding:5px;
    border: 1px solid black;
    border-radius: 10px;
}

.section select{
    margin-bottom: 4px;
}
.section input{
    margin-right: 5px;
}
            
body{
	overflow-y: scroll;
    background-color:#FFF;
}

#mainLink{
    position:absolute;
    margin-top:1px;
    padding:3px;
    right: 20px;
    top:0px;
    border-radius: 10px;
    border:1px solid black;
    color: black;
    float:left;
}

#scalesContainer{
    position: fixed;
    width: 30%;
    left: 35%;
    top: 30%;
    background-color: #FFFFFF;
	border: 5px solid black;
    padding: 10px;
    border-radius: 30px;
    display:none;
    z-index: 10000;
}

#languageChoice{
    position: absolute;
    top: 3px;
    right:20%;
}

#languageChoice a{
    margin-right: 5px;
}

p{
    text-align: justify;
}

.presentation h5{
    font-weight: bold;
    font-style: italic;
}

#paramForm #maxPointsForm{
    display: none;
}

#statsLink, #associationsLink{
    margin-bottom: 5px;
}

#boussole {
    padding: 20px;
    border: 1px solid #666;
    background: none repeat scroll 0% 0% #FDF5E6;
}


#association{
    border: 1px solid black;
    padding: 15px;
    border-radius: 30px;
    width: 50%;
    margin:auto;
}

#association input{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#association div{
    margin-bottom: 8px;
    padding: 3px;
    border-radius: 3px;
    background-color: #ccc;
}

#newTestForm select{
  width: 20%;
  display:inline;
  margin-right: 0.7%;
}

#newTestForm form{
  display:inline;
}